/*****start default theme********/

/* Active link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check,
.option-box .color-option ul li

{
    background-color: #fbfb07;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
    color:#fbfb07;
}


.option-box .color-option,
.testimonials .carousel-indicators li.active
{

    border: 3px solid #fbfb07;
}

.dropdown-menu .divider
{
    background-color:#fbfb07;
}

.dropdown-menu
{
    border-top: 3px solid #fbfb07;
}


/************* start default theme**********/